//npm.pkg.github.com/:_authToken=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
$ npm login --scope=@OWNER --registry=https://npm.pkg.github.com

> Username: zdc54
> Password: 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
> Email: ereves75@gmail.com
