@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;900&family=Exo:wght@900&display=swap');

.title {
  border-bottom: 17px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;
  margin: 0px 25px -25px 25px;
  border-radius: 0px 0px 25px 25px;
  border-style: solid;
  background: #282d3f;
}

.titletext {
  margin: 25px 25px 0px 25px;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subtitletext {
  margin: 0px 0px 25px 0px;
    color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
  text-align: center;
    background: #282d3f;
  border-radius: 10px;
  border-style: solid;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
    background: #3a5ee2;
}

.contentiframe {
  border: none;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  display: block;
  position: absolute;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.contentiframe::-webkit-scrollbar {
  display: none;  
} 

.gamestext {
  display: inline-block;
  text-align: center;
}




body {
  margin: 0 auto;
  text-align: center;
  background-color: #3a5ee2;
  }

html {
  margin: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
}

::-webkit-scrollbar {
    display: none;
}


.dropbtn {
  border: none;
  padding: 15px 32px;
  margin: 0px auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background: #282d3f;
  border-radius: 10px;
  border-style: solid;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.dropdown {
  position: relative;
  border-radius: 10px;
  border-style: solid;
  border: none;
  display: inline-block;
  margin: 0px;
      background: #282d3f;
}

.dropdown-content {
      background: #282d3f;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
    font-family: 'Exo', sans-serif;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  border-style: solid;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.dropdown-content a {
  margin: 10;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1; margin: 10; border-radius: 25px;}

.dropdown:hover .dropdown-content {
  display: block;
  margin: 10;
}

@keyframes hoverselect {
  from {border-radius: 10px;}
  to {border-radius: 25px;}
}

.dropdown:hover .dropbtn {
  background-color: darkgray;
  border-radius: 25px;
  animation-name: hoverselect;
  animation-duration: 0.5s;
}

.button:hover {
  background-color: darkgray;
  border-radius: 25px;
  animation-name: hoverselect;
  animation-duration: 0.5s;
}

p, a {
  font-family: 'Exo', sans-serif;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
     -webkit-animation: fadein 2s;
}

::-webkit-scrollbar {
    display: none;
};

button:focus { outline-style: none; }
 :focus {outline:none;}
    ::-moz-focus-inner {border:0;}
input {
   outline: 0;
}

button {
   outline: 0;
}

#test p, a, h1, h2, h3, h4, h5, h6, small, body {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
